[Desktop Entry]
Version=1.0
Name=GROOM Core
Comment=GROOM P2P Cryptocurrency
Comment[fr]=GROOM, monnaie virtuelle cryptographique pair à pair
Comment[tr]=GROOM, eşten eşe kriptografik sanal para birimi
Exec=groom-qt %u
Terminal=false
Type=Application
Icon=groom128
MimeType=x-scheme-handler/groom;
Categories=Office;Finance;
StartupWMClass=Groom-qt
