
## <summary>policy for groom</summary>


########################################
## <summary>
##	Transition to groom.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`groom_domtrans',`
	gen_require(`
		type groom_t, groom_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, groom_exec_t, groom_t)
')


########################################
## <summary>
##	Execute groom server in the groom domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`groom_initrc_domtrans',`
	gen_require(`
		type groom_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, groom_initrc_exec_t)
')


########################################
## <summary>
##	Search groom lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`groom_search_lib',`
	gen_require(`
		type groom_var_lib_t;
	')

	allow $1 groom_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read groom lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`groom_read_lib_files',`
	gen_require(`
		type groom_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, groom_var_lib_t, groom_var_lib_t)
')

########################################
## <summary>
##	Manage groom lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`groom_manage_lib_files',`
	gen_require(`
		type groom_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, groom_var_lib_t, groom_var_lib_t)
')

########################################
## <summary>
##	Manage groom lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`groom_manage_lib_dirs',`
	gen_require(`
		type groom_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, groom_var_lib_t, groom_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a groom environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`groom_admin',`
	gen_require(`
		type groom_t;
		type groom_initrc_exec_t;
		type groom_var_lib_t;
	')

	allow $1 groom_t:process { ptrace signal_perms };
	ps_process_pattern($1, groom_t)

	groom_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 groom_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, groom_var_lib_t)

')

